.Configurator {
  background: var(--gray50);
}
.WelcharOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 8rem 0 0 0;
}
.WelcharGrid {
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem 1rem;
  margin: 3rem auto 15rem auto;
}
.WelcharOptions p {
  font-size: 1.8rem;
  color: var(--gray700);
  font-weight: 400;
}

.UMGrid {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem 1rem;
  margin: 3rem auto 15rem auto;
}
.WieGrid {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem 2.5rem;
  margin: 3rem auto 15rem auto;
}
.PassendeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 8rem 0 0 0;
}
.PassendeBox p {
  font-size: 2.4rem;
  color: var(--gray800);
  font-weight: 700;
}
.PassendeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
  width: 75%;
  margin: 4rem auto 15rem auto;
}

@media screen and (max-width: 1140px) {
  .ConfiguratorSteps {
    padding: 3rem 2rem;
  }
  .WieGrid {
    width: 62%;
  }
  .UMGrid {
    width: 82%;
  }
  .WelcharGrid {
    width: 65%;
  }
  .PassendeGrid {
    width: 85%;
  }
}

@media screen and (max-width: 850px) {
  .WieGrid {
    width: 84%;
  }
  .UMGrid {
    width: 82%;
    grid-template-columns: 1fr 1fr;
  }
  .WelcharGrid {
    width: 86%;
  }
  .PassendeGrid {
    width: 95%;
  }
}

@media screen and (max-width: 650px) {
  .WieGrid {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
  }
  .WieMaincontent {
    width: 100% !important;
  }
  .WelcharOptions {
    margin: 3rem 0 0 0;
    text-align: center;
  }
  .UMGrid {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .configuratorGreen {
    height: 0.5rem;
  }
  .configuratorGrey {
    height: 0.5rem;
  }
  .WelcharGrid {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .PassendeGrid {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
