.FaqHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 5rem auto 10rem auto;
}
.FaqHeading h4 {
  font-size: 3rem;
  font-weight: 700;
  color: #313130;
}
.FaqHeading h6 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #4f4f4f;
  margin: 1.5rem 0 0 0 !important;
  width: 43%;
  text-align: center;
  line-height: 26px;
}
.FaqHeading h6 span {
  margin: 0 1.5rem !important;
  text-decoration: underline;
  cursor: pointer;
}
.MainFaqSection {
  /*   display: flex;
  justify-content: space-between;
  align-items: flex-start; */
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
  grid-gap: 10rem;
  margin: 5rem auto 10rem auto;
}
.FaqSectionLeft {
  width: 100%;
}
.FaqSectionRight {
  width: 100%;
}
.productSectionalDetails {
  width: 100%;
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: max-content;
  grid-gap: 0;
  position: relative;
  height: 100%;
}
.productDetailsContentContainer {
  width: 100%;
  margin: 0 0 4rem 0 !important;
}
.productDetailsContentContainer h4 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #313130;
  margin: 0 0 4rem 0 !important;
}
.Faqcardli {
  list-style: disc;
  margin: 1rem 0 0 0;
  color: var(--gray800);
  list-style-type: disc !important;
}
.Faqcardli li {
  margin: 0 0 0.25rem 0;
}
.FaqHeading span br {
  display: none;
}
@media screen and (max-width: 1040px) {
  .FaqHeading h6 {
    width: 55%;
  }
  .MainFaqSection {
    grid-gap: 2rem;
  }
  .FaqSectionLeft .productSectionalDetails .ProductDetailsMenu {
    display: block !important;
  }
}

@media screen and (max-width: 850px) {
  .FaqHeading {
    margin-top: 0;
  }
  .FaqHeading h6 {
    width: 80%;
  }
  .MainFaqSection {
    grid-gap: 2rem;
    grid-template-columns: 1fr;
  }
  .FaqSectionLeft {
    margin: 0 0 4rem 0;
  }
}
@media screen and (max-width: 650px) {
  .FaqHeading {
    width: 100%;
  }
  .FaqHeading h6 {
    width: 100%;
  }
  .FaqHeading span br {
    display: block;
  }
}
