.productsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 0 5rem 0;
  grid-gap: 1.5rem;
}
.homeshop {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 5rem 0 8rem 0;
  grid-gap: 1.5rem;
}
.homecontent h2 {
  font-size: 1.7rem;
  color: var(--gray800);
  font-weight: 600;
  width: 75%;
}
.homemainicon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.homeicon {
  min-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
  max-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--grd-green-300-50);
  border-radius: 50%;
}
.homemainicon h3 {
  font-size: 1.6rem;
  color: var(--gray800);
  margin: 0 0 0 1.5rem !important;
  font-weight: 400;
}
.trendingproducts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 5rem 0;
}
.trendingproducts h4 {
  font-size: 2.4rem;
  color: var(--gray800);
  font-weight: 700;
}
.trendingproductsbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem 0 10rem 0;
}
.herobgcolor {
  background-color: #fafbfc;
  padding: 5rem 0 10rem 0;
}

/* RESPONSIVENESS  */

@media screen and (max-width: 850px) {
  .homecontent h2 {
    width: 100%;
  }
  .homeshop {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .productsGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .topbrandsgrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .herosldleft {
    width: 65%;
  }
  .herosldleft p {
    display: none;
  }
  .herosldleft h3 {
    font-size: 1.75rem;
  }
  .herosldleft button {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    font-weight: 600;
  }
  .homeshop {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .homemainicon {
    align-items: center;
  }
  .homecontent h2 {
    width: 70%;
    margin: 0 auto !important;
    line-height: 1.5;
  }
  .trendingproducts {
    justify-content: center;
  }
  .productsGrid {
    grid-template-columns: 1fr 1fr;
  }
  .topbrandsgrid {
    grid-template-columns: 1fr 1fr;
  }
  .tabsaying {
    display: none;
  }
  .herobgcolor {
    padding: 5rem 0;
  }
  .herobgcolor .box-sm {
    padding: 0 !important;
  }
}

/* MAIN MENU BOTTOM DROPDOWN  */
/* 
.MainMenuBottomDropdown
{
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 10rem);
  background-color: rgba(1, 21, 11, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
.MMBottomDropdownContent
{
  width: max-content;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  display: flex;
  padding: 3.5rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}
.MMBottomTopContent
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10rem;
  padding: 0 0 3rem 0;
}
.MMBottomTopContent1
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10rem;
  padding: 0 0 3rem 0;
  border-bottom: 1px solid var(--gray200);
}
.MMBottomTopContent2
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem 9rem;
  padding: 0 0 3rem 0;
}
.MMBottomTopContent3
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  padding: 0 0 3rem 0;
}
.MMBottomTopContent4
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
}
.MMBGridContent
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.MMBGridContent img 
{
  width: 5.5rem;
  height: 5.5rem;
}
.MMBGridRight
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 0 2rem;
}
.MMBGridRight > * 
{
  margin: 0 0 0.75rem 0 !important;
}
.MMBGridRight h6 
{
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--gray700);
  margin: 0 0 1rem 0 !important;
}
.MMBGridRight p 
{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray800);
  cursor: pointer;
}
.MMBGridRight p:hover 
{
  color: var(--green700);
  text-decoration: underline !important;
}
.MMBottomLastContent
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--gray200);
  padding: 3rem 0 0 0;
}
.MMBottomLastContent h5
{
font-size: 1.2rem;
color: var(--gray700);
font-weight: 500;
margin: 0 0 1.5rem 0 !important;
}
.MMBottomLastImg
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.MMBottomImgBox
{
  width: 13rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  margin: 0 3rem 0 0;
  padding: 2rem;
}
.MMBottomImgBox:hover 
{
  box-shadow: 0px 51px 80px rgba(0, 0, 0, 0.04), 0px 15.375px 24.1177px rgba(0, 0, 0, 0.0260636), 0px 6.38599px 10.0172px rgba(0, 0, 0, 0.02), 0px 2.30969px 3.62304px rgba(0, 0, 0, 0.0139364);
}
.MMBottomImgBox img 
{
 width: 100%;
 height: 100%;
}
.MMBottomDropdownContent1
{
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  display: flex;
}
.MMBottomDropdownContent2
{
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  display: flex;
  padding: 3.5rem;
}
.MMBottomDropdownTabs2
{
  width: 100%;
}
.MMBottomDropdownTabs
{
  width: 100%;
}
.ProdukteMainContent
{
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  display: flex;
  padding: 3.5rem;
}
.ProdukteContent
{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.ProdukteLeftContent
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 65%;
  border-right: 1px solid var(--gray200);
  padding: 0 8rem 0 0;
}
.ProdukteLeftContent .MMBGridRight
{
  margin: 0;
}
.ProdukteLeftContent .MMBottomTopContent2
{
  grid-gap: 4rem 2rem;
}
.ProdukteLeftContent h4 
{
  font-size: 1.8rem;
  color: var(--gray800);
  font-weight: 700;
  margin: 0 0 3rem 0 !important;
}
.ProdukteRightContent
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 32%; 
}
.ProdukteRightContent .MMBGridRight
{
  margin: 0;
}
.ProdukteRightContent h4 
{
  font-size: 1.8rem;
  color: var(--gray800);
  font-weight: 700;
  margin: 0 0 3rem 0 !important;
}
.ProdukteAllButton
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 3rem 0 0 0;
  border-top: 1px solid var(--gray200);
  margin: 3rem 0 0 0;
  cursor: pointer;
}
.ProdukteAllButton h6 
{
  font-size: 1.4rem;
  color: var(--green700);
  font-weight: 500;
  margin: 0 2rem 0 0 !important;
}
.IndustrienAllButton
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 3rem 0 0 0;
  border-top: 1px solid var(--gray200);
  cursor: pointer;
}
.IndustrienAllButton h6 
{
  font-size: 1.4rem;
  color: var(--green700);
  font-weight: 500;
  margin: 0 2rem 0 0 !important;
} */

/* SEARCH BAR RESULT BOX  */

.SearchBarResultBox {
  width: 77rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
}
.SearchBarResultContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}
.SearchBarResultContent h5 {
  font-size: 1.2rem;
  color: #828282;
  font-weight: 400;
}
.SearchBarResultsScroll {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 55rem;
  margin: 2rem 0;
  width: 100%;
}
.SBRMainBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  padding: 2rem 0 0 0;
}
.SBRMainBox:hover {
  box-shadow: 0px 51px 80px rgba(0, 0, 0, 0.04),
    0px 15.375px 24.1177px rgba(0, 0, 0, 0.0260636),
    0px 6.38599px 10.0172px rgba(0, 0, 0, 0.02),
    0px 2.30969px 3.62304px rgba(0, 0, 0, 0.0139364);
}
.SBRMainBox img {
  width: 10rem;
  height: 10rem;
}
.SBRMainPara {
  margin: 0 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.SBRMainPara h6 {
  font-size: 1.6rem;
  color: #313130;
  font-weight: 400;
  text-decoration: underline !important;
}
.SBRMainPara p {
  font-size: 1.6rem;
  color: #313130;
  font-weight: 700;
  margin: 0.65rem 0 0 0 !important;
}

/* SEARCH NOT FOUND  */
.SearchNotFoundBox {
  width: 77rem;
  height: 42rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
}
.SearchNotFoundContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.SearchNotFoundContent img {
  width: 15rem;
  height: 15rem;
}
.SearchNotFoundContent h5 {
  margin: 3rem 0 2rem 0 !important;
  font-size: 1.8rem;
  color: #313130;
  font-weight: 500;
}
.SearchNotFoundContent p {
  font-size: 1.6rem;
  color: #828282;
  font-weight: 400;
  width: 30%;
  text-align: center;
}
