.LoggedInBox {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 5rem;
  margin: 10rem 0 0 0;
  min-height: calc(100vh - 35rem);
}
.LoggedInLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.LoggedInTabBox {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.LoggedInTabBox svg {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  margin: 0 1rem 0 0;
  fill: #4f4f4f !important;
}
.LoggedInTabBox span {
  color: #4f4f4f;
}
.LoggedInSelect {
  display: none;
}

/* RESPONSIVENESS  */

@media screen and (max-width: 850px) {
  .LoggedInBox {
    margin: 3rem 0 0 0;
  }
}

@media screen and (max-width: 650px) {
  .LoggedInBox {
    margin: 1rem 0 0 0;
    grid-template-columns: 1fr;
  }
  .LoggedInSelect {
    display: block;
  }
  .LoggedInSelect {
    width: 100% !important;
    border: 1px solid #bdbdbd;
    padding: 0.75rem 1rem;
    border-radius: 1000px;
    font-size: 1.5rem;
    color: #828282;
    outline: 0;
    background-color: #ffffff;
    transition: var(--trns1);
    position: relative;
    height: 4rem;
  }
}
