.productPage {
  padding: 2.5rem 0 0 0;
}
.productGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  margin: 5rem 0;
}
.productDetailsHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.textDetailsBox {
  margin: 0 2.5rem 0 0;
  width: max-content;
}
.textDetailsBox span {
  font-size: 1.25rem;
  color: var(--gray500);
}
.textDetailsBox p {
  font-size: 2rem;
  color: var(--gray800);
  font-weight: 500;
}
.textDetailsBoxParent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.productGridRight > * {
  margin: 0 0 1.5rem 0;
}
.productDetailsHead svg {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.productDetailsHead h1 {
  font-size: 3.25rem;
  font-weight: 500;
}
.productDescription {
  font-size: 1.35rem;
  color: var(--gray500);
}
.productPrice {
  display: inline-flex;
  align-items: center;
}
.productPrice h6 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--gray800);
}
.productPrice span {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--gray500);
  margin: 0 0 0 1.5rem;
}
.descLinksBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.descLinksBox a {
  font-size: 1.35rem;
  font-weight: 500;
  color: var(--gray800);
  text-decoration: underline;
  margin: 0 0.75rem 0 0;
}
.descLinksBox span {
  font-size: 1.35rem;
  font-weight: 500;
  color: var(--gray800);
  margin: 0 0.75rem 0 0;
}
.addToCompare {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2.5rem 0;
}
.addToCompare a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray800);
  text-decoration: underline;
}
.addToCompare svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0.75rem 0 0;
}
.descBtnBox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  margin: 2.5rem 0;
}
.learnMoreTag {
  width: 100%;
  padding: 1rem;
  background-color: var(--green50);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.learnMoreTag main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.learnMoreTag main svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.75rem 0 0;
}
.learnMoreTag main p {
  font-size: 1.5rem;
  color: var(--gray800);
}
.learnMoreTag a {
  font-size: 1.5rem;
  color: var(--gray800);
  text-decoration: underline;
  font-weight: 700;
  width: max-content;
  white-space: nowrap;
  margin: 0 0 0 1.5rem;
}
.productSectionalDetails {
  width: 100%;
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: max-content;
  grid-gap: 5rem;
  position: relative;
}
a.secondarySectionLink {
  padding: 0 0 0 2.5rem !important;
}
.productDetailsContentContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.detailsSubHading {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray800);
  margin: 2.5rem 0;
}
.technicalDataContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 3.5rem;
}
.technicalDataContent table,
.technicalDataContent table * {
  width: 100%;
}
.technicalDataContent thead th {
  background-color: var(--background1);
  padding: 1rem 1.5rem;
  text-align: start;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--gray800);
  border-bottom: 1px solid #e0e0e0;
}
.technicalDataContent td {
  padding: 1rem 1.5rem;
  text-align: start;
  font-size: 1.5rem;
  width: max-content;
  font-weight: 400;
  color: var(--gray800);
  border-bottom: 1px solid #e0e0e0;
}
.faqContent,
.downloadsContent,
.technicalDataContent,
.overviewContent {
  margin: 0 0 5rem 0;
}
