.productPage {
  padding: 2.5rem 0 0 0;
}
.productGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
  margin: 5rem 0;
}
.productDetailsHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.textDetailsBox {
  margin: 0 2.5rem 0 0;
  width: max-content;
}
.textDetailsBox span {
  font-size: 1.25rem;
  color: var(--gray500);
}
.textDetailsBox p {
  font-size: 2rem;
  color: var(--gray800);
  font-weight: 500;
}
.textDetailsBoxParent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.productGridRight > * {
  margin: 0 0 1.5rem 0;
}
.productDetailsHead svg {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.productDetailsHead h1 {
  font-size: 3.25rem;
  font-weight: 500;
}
.productDescription {
  font-size: 1.35rem;
  color: var(--gray500);
}
.productPrice {
  display: inline-flex;
  align-items: center;
}
.productPrice h6 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--gray800);
}
.productPrice span {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--gray500);
  margin: 0 0 0 1.5rem;
}
.descLinksBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.descLinksBox a {
  font-size: 1.35rem;
  font-weight: 500;
  color: var(--gray800);
  text-decoration: underline;
  margin: 0 0.75rem 0 0;
}
.descLinksBox span {
  font-size: 1.35rem;
  font-weight: 500;
  color: var(--gray800);
  margin: 0 0.75rem 0 0;
}
.addToCompare {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2.5rem 0;
}
.addToCompare a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray800);
  text-decoration: underline;
}
.addToCompare svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0.75rem 0 0;
}
.descBtnBox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  margin: 2.5rem 0;
}
.learnMoreTag {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-green10P);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.learnMoreTag main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.learnMoreTag main svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.75rem 0 0;
}
.learnMoreTag main p {
  font-size: 1.5rem;
  color: var(--gray800);
}
.learnMoreTag a {
  font-size: 1.5rem;
  color: var(--gray800);
  text-decoration: underline;
  font-weight: 700;
  width: max-content;
  white-space: nowrap;
  margin: 0 0 0 1.5rem;
}
.productSectionalDetails {
  width: 100%;
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: max-content;
  grid-gap: 5rem;
  position: relative;
}
.productDetailsMenu {
  height: max-content;
  position: sticky;
  top: 5rem;
  left: 0;
}
.productDetailsMenu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.productDetailsMenu a,
.productDetailsMenu a:focus {
  font-size: 1.5rem;
  color: var(--gray400) !important;
}
.productDetailsMenu li {
  margin: 0 0 1rem 0;
}
.productDetailsMenu a:hover {
  text-decoration: underline;
  color: var(--gray800);
}
.productDetailsMenu a.activeSectionLink {
  color: var(--gray800);
  font-weight: 600;
}
.productDetailsMenu a.activeSectionLink:hover {
  text-decoration: none;
}
.productDetailsMenu a.secondarySectionLink {
  padding: 0 0 0 2.5rem !important;
}
.productDetailsContentContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.detailsSectionHead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-top: 1px solid #e0e0e0;
  padding: 2.5rem 0;
}
.detailsSectionHead svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0.75rem 0 0;
}
.detailsSectionHead h1 {
  font-size: 2.25rem;
  font-weight: 700;
}
.overviewContentMainGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.overviewGrid1 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.overviewGrid1Left {
  width: 100%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(111, 131, 150, 1), rgba(111, 131, 150, 01));
}
.overviewGrid1Left img {
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 1rem 1rem;
  margin: -5rem 0 0 0;
}
.grid1boxOverlay {
  width: 100%;
  padding: 2.5rem;

  color: var(--white);
  z-index: 5;
  position: relative;
}
.grid1boxOverlay h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0 !important;
  color: var(--white);
}
.grid1boxOverlay p {
  font-size: 1.5rem;
}
.overviewGrid1Right {
  width: 100%;
  padding: 2.5rem;
  border-radius: 1rem;
  position: relative;
  color: var(--gray800);
  background-color: #f5f6fa;
}
.overviewGrid1Right h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  color: var(--gray800);
}
.overviewGrid1Right p {
  font-size: 1.5rem;
}
.overviewGrid1Right img {
  width: 100%;
  max-height: 20rem;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.overviewContentMainGrid video {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.overviewGrid2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.detailsSubHading {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray800);
  margin: 2.5rem 0;
}
.featuredGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}
.featuredGridCard {
  padding: 1.5rem;
  transition: var(--trns2);
  cursor: pointer;
  border-radius: 1rem;
}
.featuredGridCard:hover {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.05);
}
.featuredGridCard img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
}
.featuredGridCard span {
  width: max-content;
  font-size: 1.25rem;
  background-color: var(--background1);
  color: var(--gray800);
  margin: 1.75rem 0;
  display: block;
  padding: 0.25rem 1rem;
  border-radius: 1000px;
  font-weight: 500;
}
.featuredGridCard p {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--gray800);
}
.featuredGridCard i {
  font-size: 1.25rem;
  font-style: normal;
  margin: 1rem 0 0 0;
  display: block;
  color: var(--gray400);
}
.technicalDataContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 3.5rem;
}
.technicalDataContent table,
.technicalDataContent table * {
  width: 100%;
}
.technicalDataContent thead th {
  background-color: var(--background1);
  padding: 1rem 1.5rem;
  text-align: start;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--gray800);
  border-bottom: 1px solid #e0e0e0;
}
.technicalDataContent td {
  padding: 1rem 1.5rem;
  text-align: start;
  font-size: 1.5rem;
  width: max-content;
  font-weight: 400;
  color: var(--gray800);
  border-bottom: 1px solid #e0e0e0;
}
.downloadsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3.5rem;
  margin: 1.5rem 0 3.5rem 0;
}
.downloadsGridCard {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.downloadsGridCard img {
  width: max-content;
  height: 7.5rem;
  object-fit: contain;
  margin: 0 1rem 0 0;
}
.downloadsGridCard main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.downloadsGridCard main h1 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0 0 0.75rem 0;
}
.downloadsGridCard main p {
  font-size: 1.35rem;
  color: var(--gray800);
}
.didntFindBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-green10P);
  padding: 2.5rem;
  border-radius: 1.5rem;
}
.didntFindBox h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0 0 1.5rem 0 !important;
}
.faqItem {
  width: 100%;
  margin: 0 0 2.5rem 0;
  padding: 0 0 2.5rem 0;
  border-bottom: 1px solid #e0e0e0 !important;
}
.faqheader {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.faqheader h1 {
  font-size: 1.75rem;
  font-weight: 500;
  width: 100%;
}
.faqheader svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 1.5rem;
}
.faqbody {
  width: 100%;
  margin: 1.5rem 0 0 0;
}
.faqbody p {
  font-size: 1.5rem;
  color: var(--gray800);
}
.faqbody a {
  color: var(--primary-green);
}
.faqContent,
.downloadsContent,
.technicalDataContent,
.overviewContent {
  margin: 0 0 5rem 0;
}
.similarRobotsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3.5rem;
}
.similarRobotsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.similarRobotsCard > * {
  width: 100%;
  text-align: center;
  margin: 0 0 1rem 0 !important;
}
.similarRobotsCard i {
  font-size: 1.25rem;
  color: var(--gray500);
  font-style: normal;
}
.similarRobotsCard h1 {
  font-size: 1.85rem;
  color: var(--gray800);
  font-weight: 600;
}
.similarRobotsCard h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray800);
}
.TalkToExpert {
  width: 100%;
  background-color: var(--primary-green10P);
  padding: 5rem 0;
  margin: 5rem 0;
}
.TalkToExpertContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  grid-gap: 7.5rem;
}
.tteLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tteLeft > * {
  margin: 0 0 2.5rem 0 !important;
}
.tteLeft h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.tteLeft p {
  font-size: 1.5rem;
  color: var(--gray800);
}
.talkToPhone {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.talkToPhone > svg {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 1.5rem 0 0;
}
.talkToPhone main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.talkToPhone main > * {
  margin: 0 0 1rem 0 !important;
}
.talkToPhone main i {
  font-size: 1.5rem;
  font-style: normal;
  color: var(--gray300);
  height: 3.5rem;
  display: flex;
  align-items: center;
}
.talkToPhone main h3 {
  font-size: 1.65rem;
  font-weight: 400;
}
.talkToPhone main h4 {
  font-size: 1.65rem;
  font-weight: 600;
}
.tteRight {
  width: 100%;
  background-color: var(--white);
  border-radius: 1.5rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.tteRight > main {
  width: 100%;
}
.tteRight main > h1 {
  font-size: 1.85rem;
  font-weight: 700;
}
.talkToUsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  margin: 2.5rem 0;
}
.talkToUsGrid > :nth-child(3),
.talkToUsGrid > :nth-child(4) {
  grid-column: -1/1;
}
.tteRight > main:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.tteRight > main:nth-child(2) p {
  font-size: 1.35rem;
  margin: 1.5rem 0 0 0;
  color: var(--gray800);
}
.tteRight > main:nth-child(2) p a {
  color: var(--gray800);
  text-decoration: underline;
}
.richText {
  width: 100%;
  color: var(--gray800);
}
.richText p {
  font-size: 1.5rem;
}
.richText h6 {
  font-size: 1.5rem;
  margin: 2.5rem 0 !important;
}
.richText li {
  font-size: 1.5rem;
  list-style-type: disc;
}
.richText b {
  font-weight: 700;
}
.richText ul {
  padding: 0 0 0 5rem !important;
}
