.SignInBox {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 33rem;
  width: 100%;
  height: 100vh;
}
.SignInLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.5rem 0 0 0;
  height: 100vh;
}
.SignInLeft h2 {
  font-size: 3.5rem;
  color: var(--gray800);
  font-weight: 700;
  margin: 3.5rem 0 2.5rem 0 !important;
}
.SignInLeft p {
  font-size: 1.4rem;
  color: #4f4f4f;
  font-weight: 500;
}
.SignInLeft p span {
  color: #1bc074;
}
.SignInLeft h5 {
  margin: 3rem 0 0 0 !important;
  font-size: 1.4rem;
  color: #d20404;
  font-weight: 500;
}
.SignInRight {
  display: flex;
}
.SignInRight img {
  width: 100%;
  height: 100%;
}
.SIInput {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 3rem 0;
}
.SIInput label {
  color: var(--gray800);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 0.65rem 0;
}
.SIInput label span {
  color: #d20404;
}
.SIInput input {
  width: 100% !important;
  border: 0;
  border: 1px solid #d20404;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray800);
  outline: 0;
  background-color: #fff;
  transition: var(--trns1);
  position: relative;
  height: 4rem;
}
.SIInput input:hover {
  color: var(--gray700);
}
.SIInput p {
  color: #d20404;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.65rem 0 0 0 !important;
}
.SignInLeft button {
  background-color: #01150b;
  width: 100%;
  margin: 0 0 1.5rem 0;
}
.SignInLeft span {
  font-size: 1.4rem;
  color: #1bc074;
  font-weight: 500;
  cursor: pointer;
}
.SignInLeft h6 {
  font-size: 1.4rem;
  color: #d20404;
  font-weight: 500;
}
.RegisterRight {
  background-color: #fafbfc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 11rem 0 0 5rem;
}
.RegisterRTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.RegisterRTop p {
  color: #4f4f4f;
  font-size: 1.4rem;
  font-weight: 400;
}
.RTopPoints {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2.5rem 0;
}
.RPoint {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 1rem 0;
}
.RPoint h5 {
  font-size: 1.6rem;
  color: #313130;
  font-weight: 500;
  margin: 0 0 0 1.25rem !important;
}
.RegisterBottom {
  width: 100%;
  height: 60vh;
}
.RegisterBottom img {
  width: 80%;
  height: 100%;
}
.RegisterStepsBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.RegisterSteps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3rem 0;
  width: 100%;
}
.RegFirstStep {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 47%;
}
.RegFirstStep p {
  color: #9c9c9c;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0.65rem 0 !important;
}
.RFSPre {
  border-radius: 1000px;
  background-color: #e0e0e0;
  width: 100%;
  height: 0.85rem;
}
.RegSecondStep {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 47%;
  justify-content: flex-start;
}
.RegSecondStep p {
  color: #1bc074;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0.65rem 0 !important;
}
.RFSPost {
  border-radius: 1000px;
  background-color: #1bc074;
  width: 100%;
  height: 0.85rem;
}
.RegisterStepsBox .SIInput {
  margin: 0 0 3rem 0 !important;
}
.BackAccountBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3rem 0;
  width: 100%;
}
.BABackOpt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.BABackOpt svg {
  color: #313130;
}
.BABackOpt p {
  font-size: 1.6rem;
  color: #313130;
  font-weight: 400;
  margin: 0 0 0 1.5rem !important;
}
.BackAccountBtn button {
  width: 45%;
  margin: 0 !important;
}
.VerifyEmailBox {
  margin: 5rem 0 0 0;
}
.VerifyEmailBox img {
  width: 20%;
  height: 100%;
}
.VerifyEmailBox h3 {
  font-size: 2.4rem;
  color: #4f4f4f;
  font-weight: 700;
  margin: 2rem 0 !important;
}
.VerifyEmailBox p {
  color: #4f4f4f;
  font-weight: 400;
  font-size: 1.4rem;
}
.VerifyLine {
  background-color: #bdbdbd;
  width: 25%;
  height: 0.2rem;
  margin: 3rem 0;
}
.VerifyEmailBox p span {
  color: #1bc074;
}
.VerifyEmailBox button {
  width: 30%;
  margin: 2rem 0;
}
.EmailButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 3rem 0 0 0;
}
.EmailButton button {
  background-color: transparent !important;
  width: 100%;
  margin: 0 0 3rem 0 !important;
}
.EmailButton .button-secondary-gray svg path {
  fill: unset !important;
}

.SetNewPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.SetNewPassword .SIInput {
  margin: 3rem 0 0 0;
}
.SetNewPassword button {
  margin: 3rem 0;
}
.SetNewPassword .SIInput.noerror input {
  border: 1px solid #bdbdbd;
}
.PasswordSet {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.PasswordSet button {
  width: 30%;
  margin: 0 0 2rem 0;
}
