.footer {
  width: 100%;
  margin: 15rem 0 0 0;
  padding: 0 7.5%;
}
.footerTopGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3.5rem;
}
.footerTopGrid main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerTopGrid main > * {
  margin: 0 0 1rem 0 !important;
  color: var(--gray800);
}
.footerTopGrid main h6 {
  font-size: 1.5rem;
  font-weight: 600;
}
.footerTopGrid main a {
  font-size: 1.5rem;
}
.FooterNewInputBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}
.footerCenterGrid {
  padding: 2.5rem 0;
  margin: 2.5rem 0 0 0 !important;
  width: 75%;
  grid-gap: 2.5rem;
}
.footerCenterGridLeft main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin: 1rem 0 0 0;
}
.footerCenterGridLeft main input {
  width: 65% !important;
}
.footerCenterGridLeft main button {
  width: 30%;
  color: var(--white) !important;
}
.footerCenterGridLeft div {
  width: 100%;
}
.footerCenterGridLeft button {
  margin: 0 0 0 1.5rem;
}
.footerCenterGridRight {
  margin: 2rem 0 0 0;
}
.footerCenterGridRight main {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1rem 0 0 0;
}
.footerCenterGridRight main > * {
  margin: 0 1.5rem 0 0 !important;
}
.footerBottomGridParent {
  width: 100%;
  background-color: var(--gray900);
  padding: 2.5rem 7.5%;
}
.footerBottomGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerBottomGridParent main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 15rem 0 0;
}
.footerBottomGridParent main img {
  width: 3rem;
  height: 3rem;
  margin: 0 1.5rem 0 0;
}
.footerBottomGridParent main h6 {
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--white);
}
.footerBottomGrid a {
  font-size: 1.5rem;
  color: var(--white) !important;
  margin: 0 5rem 0 0;
}
@media screen and (max-width: 1040px) {
  .footerCenterGrid {
    width: 95% !important;
  }
  .footerCenterGridLeft main input {
    width: 60% !important;
  }
  .footerCenterGridLeft main button {
    width: 35%;
  }
  .footerBottomGridParent {
    margin: 0 7rem 0 0;
  }
}
@media screen and (max-width: 1000px) {
  .footerCenterGrid {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 850px) {
  .footerCenterGrid {
    grid-template-columns: 3fr 1fr;
  }
  .footerTopGrid {
    grid-template-columns: 1.75fr 1fr 1fr;
    grid-gap: 2.5rem;
  }
  .footerBottomGrid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footerBottomGrid > * {
    margin: 0 0 1.5rem 0 !important;
  }
  .footer {
    padding: 0 4.5%;
  }
  .footerCenterGridLeft main {
    flex-direction: column;
  }
  .footerCenterGridLeft main input {
    width: 100% !important;
  }
  .footerCenterGridLeft main button {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .footerTopGrid {
    grid-template-columns: 1fr 1fr;
  }
  .footerCenterGrid {
    padding: 0 !important;
  }
  .footerCenterGridLeft main {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footerCenterGridLeft button {
    margin: 1.5rem 0 0 0;
  }
  .footerBottomRightBox {
    display: flex;
    flex-direction: column;
  }
  .footerBottomRightBox a {
    margin: 0 0 1.25rem 0 !important;
  }
  .footerBottomGridParent {
    padding: 2.5rem 4.5% 0.5rem 4.5%;
  }
}
