.featuredGridCard {
  padding: 0;
  transition: var(--trns2);
  cursor: pointer;
  border-radius: 1rem;
}
.featuredGridCard:hover {
  box-shadow: var(--card-box-shadow);
}
.featuredGridCard main {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.featuredGridCard img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
}
.featuredGridCard span {
  width: max-content;
  font-size: 1.25rem;
  background-color: var(--blue100);
  color: var(--gray800);
  margin: 1.5rem 0;
  display: block;
  padding: 0.25rem 1rem;
  border-radius: 1000px;
  font-weight: 500;
}
.featuredGridCard p {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--gray800);
}
.featuredGridCard i {
  font-size: 1.25rem;
  font-style: normal;
  margin: 1rem 0 0 0;
  display: block;
  color: var(--gray400);
}
@media screen and (max-width: 850px) {
  .featuredGridCard img {
    height: 15rem;
  }
  .featuredGridCard span {
    font-size: 1.15rem;
  }
  .featuredGridCard p {
    font-size: 1.35rem;
  }

  .featuredGridCard:hover {
    box-shadow: unset;
  }
  .featuredGridCard main {
    padding: 0;
  }
}
