.InTheBoxSection {
  width: 100%;
}
.InTheBoxSection > h1 {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray800);
}
.InTheBoxGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
@media screen and (max-width: 1050px) {
  .InTheBoxGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 2.5rem;
  }
}
@media screen and (max-width: 650px) {
  .InTheBoxGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
