.productDetailsMenu {
  height: max-content;
  position: sticky;
  top: 22.5rem;
  left: 0;
}
.productDetailsMenu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.productDetailsMenu a,
.productDetailsMenu a:focus {
  font-size: 1.65rem;
  color: var(--gray400) !important;
}
.productDetailsMenu a:hover {
  color: #313130 !important;
}
.productDetailsMenu h6,
.productDetailsMenu h6:focus {
  font-size: 1.2rem;
  color: #bdbdbd !important;
  font-weight: 400;
  text-transform: uppercase;
}
.productDetailsMenu li {
  margin: 0 0 1rem 0;
}
.productDetailsMenu a:hover {
  text-decoration: underline;
  color: var(--gray800);
}
.productDetailsMenu a.activeSectionLink {
  color: var(--gray800);
  font-weight: 600;
}
.productDetailsMenu a.activeSectionLink:hover {
  text-decoration: none;
}
.productDetailsMenu a.secondarySectionLink {
  padding: 0 0 0 2.5rem !important;
}
@media screen and (max-width: 1050px) {
  .productDetailsMenu {
    display: none;
  }
}
