.similarRobotsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem 2.5rem;
  transition: var(--trns2);
  border-radius: 0.75rem;
  cursor: pointer;
  position: relative;
  background-color: var(--white);
}
.similarRobotsCard:hover {
  box-shadow: var(--card-box-shadow);
}
.similarRobotsCard > * {
  width: 100%;
  text-align: center;
  margin: 0 0 1.5rem 0 !important;
}
.similarRobotsCard i {
  font-size: 1.25rem;
  color: var(--gray500);
  font-style: normal;
}
.similarRobotsCard h1 {
  font-size: 1.85rem;
  color: var(--gray800);
  font-weight: 600;
}
.price {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray800);
  margin: 0 !important;
}
.price del {
  text-decoration: line-through;
  opacity: 0.5;
}
.sale {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: var(--red400);
  font-size: 1.15rem;
  color: var(--white);
  z-index: 100;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1rem 0 1rem;
  font-weight: 500;
  border-radius: 1000px;
}
.hoverOnImg {
  opacity: 0;
}
.imgBox {
  width: 100%;
  height: 15rem;
  position: relative;
}
.imgBox img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.defaultImg {
  opacity: 1;
  transition: var(--trns2);
}
.hoverImg {
  opacity: 0;
  transition: var(--trns2);
}
.similarRobotsCard:hover > .imgBox > .defaultImg {
  opacity: 0;
}
.similarRobotsCard:hover > .imgBox > .hoverImg {
  opacity: 1;
}

.compareBox main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
.compareBox {
  position: absolute;
  width: max-content;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 180;
  background-color: var(--white);
  padding: 0.25rem 1rem;
}
.compareBox main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.compareBox main svg {
  width: 1.75rem !important;
}
.compareBox main span {
  font-size: 1.15rem;
  transition: var(--trns2);
  margin: 0 1rem 0 0;
  display: none;
}
.wishlistBox main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishlistBox {
  position: absolute;
  width: max-content;
  top: 5rem;
  right: 1.5rem;
  z-index: 180;
  background-color: var(--white);
  padding: 0.25rem 1rem;
}
.wishlistBox main svg {
  width: 1.75rem !important;
  margin: 0 0 0 1rem;
}
.wishlistBox main span {
  font-size: 1.15rem;
  margin: 0 1rem 0 0;
  display: none;
}
.similarRobotsCard:hover > .compareBox main span,
.similarRobotsCard:hover > .wishlistBox main span {
  display: block;
}
