.TalkToExpert {
  width: 100%;
  background-color: var(--green50);
  padding: 5rem 0;
  margin: 5rem 0;
}

.TalkToExpertContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  grid-gap: 7.5rem;
}

.tteLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tteLeft > * {
  margin: 0 0 2.5rem 0 !important;
}
.tteLeft h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.tteLeft p {
  font-size: 1.5rem;
  color: var(--gray800);
}

.talkToPhone {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.talkToPhone > svg {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 1.5rem 0 0;
}
.talkToPhone main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.talkToPhone main > * {
  margin: 0 0 1rem 0 !important;
}
.talkToPhone main i {
  font-size: 1.5rem;
  font-style: normal;
  color: var(--gray300);
  height: 3.5rem;
  display: flex;
  align-items: center;
}
.talkToPhone main h3 {
  font-size: 1.65rem;
  font-weight: 400;
}
.talkToPhone main h4 {
  font-size: 1.65rem;
  font-weight: 600;
}

.tteRight {
  width: 100%;
  background-color: var(--white);
  border-radius: 1.5rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.tteRight > main {
  width: 100%;
}
.tteRight main > h1 {
  font-size: 1.85rem;
  font-weight: 700;
}

.tteRight > main:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.tteRight > main:nth-child(2) p {
  font-size: 1.35rem;
  margin: 1.5rem 0 0 0;
  color: var(--gray800);
}
.tteRight > main:nth-child(2) p a {
  color: var(--gray800);
  text-decoration: underline;
}
.talkToUsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  margin: 2.5rem 0;
}
.talkToUsGrid > :nth-child(3),
.talkToUsGrid > :nth-child(4) {
  grid-column: -1/1;
}
@media screen and (max-width: 1050px) {
  .TalkToExpertContent {
    grid-gap: 2.5rem;
  }
}
@media screen and (max-width: 850px) {
  .tteLeft h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .TalkToExpertContent {
    grid-template-columns: 1fr;
  }
  .tteLeft p {
    font-size: 1.35rem;
  }
  .talkToPhone {
    display: none;
  }
  .tteRight > main:nth-child(2) {
    margin: 5rem 0 0 0;
  }
  .talkToUsGrid {
    grid-template-columns: 1fr;
  }
}
