.IndCollabGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 8rem;
  margin: 6rem 0 0 0;
}
.IndCollabGridContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.IndCollabGridContent h6 {
  color: #313130;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0 !important;
}
.IndCollabGridContent p {
  color: #313130;
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  .IndCollabGrid {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 650px) {
  .IndCollabGrid {
    grid-template-columns: 1fr;
  }
}
