/* Font Family */
@font-face {
  font-family: Stolzl;
  src: local(Stolzl),
    url("/assets/fonts/Stolzl/TTF/Stolzl-200.ttf") format("truetype"),
    url("/assets/fonts/Stolzl/OTF/Stolzl-200.otf") format("opentype");
  font-display: block;
  font-weight: 200;
}
@font-face {
  font-family: Stolzl;
  src: local(Stolzl), local(Stolzl-300),
    url(./../public/assets/fonts/Stolzl/TTF/Stolzl-300.ttf) format("truetype"),
    url(./../public/assets/fonts/Stolzl/OTF/Stolzl-300.otf) format("opentype");
  font-display: block;
  font-weight: 300;
}
@font-face {
  font-family: Stolzl;
  src: local(Stolzl), local(Stolzl-400),
    url(./../public/assets/fonts/Stolzl/TTF/Stolzl-400.ttf) format("truetype"),
    url(./../public/assets/fonts/Stolzl/OTF/Stolzl-400.otf) format("opentype");
  font-display: block;
  font-weight: 400;
}
@font-face {
  font-family: Stolzl;
  src: local(Stolzl), local(Stolzl-500),
    url(./../public/assets/fonts/Stolzl/TTF/Stolzl-500.ttf) format("truetype"),
    url(./../public/assets/fonts/Stolzl/OTF/Stolzl-500.otf) format("opentype");
  font-display: block;
  font-weight: 500;
}
@font-face {
  font-family: Stolzl;
  src: local(Stolzl), local(Stolzl-600),
    url(./../public/assets/fonts/Stolzl/TTF/Stolzl-600.ttf) format("truetype"),
    url(./../public/assets/fonts/Stolzl/OTF/Stolzl-600.otf) format("opentype");
  font-display: block;
  font-weight: 600;
}
@font-face {
  font-family: Stolzl;
  src: local(Stolzl), local(Stolzl-700),
    url(./../public/assets/fonts/Stolzl/TTF/Stolzl-700.ttf) format("truetype"),
    url(./../public/assets/fonts/Stolzl/OTF/Stolzl-700.otf) format("opentype");
  font-display: block;
  font-weight: 700;
}

/* Global Styles */
:root {
  /* Root Font Size */
  font-size: 10px;

  /* Colors */
  --white: #ffffff;
  --gray50: #fafafa;
  --gray100: #f2f2f2;
  --gray200: #e0e0e0;
  --gray300: #bdbdbd;
  --gray400: #9c9c9c;
  --gray500: #828282;
  --gray700: #4f4f4f;
  --gray800: #313130;
  --gray900: #01150b;

  --green50: #ebfff5;
  --green100: #d7ffeb;
  --green200: #8fedc1;
  --green300: #36ff9a;
  --green500: #1fdb84;
  --green700: #1bc074;
  --green800: #169c5f;

  --red50: #fff5f5;
  --red300: #fdacac;
  --red400: #fc5a5a;
  --red500: #d20404;
  --red600: #be0303;

  --blue50: #fafbfc;
  --blue100: #f5f6fa;
  --blue300: #dde6fe;
  --blue500: #4589ff;
  --blue600: #0f62fe;

  --purple50: #f5f6fe;
  --purple500: #5768f3;

  --grd-green-500-700: linear-gradient(var(--green500), var(--green700));
  --grd-green-300-500: linear-gradient(var(--green300), var(--green500));
  --grd-green-300-50: linear-gradient(var(--green300), var(--green50));
  --grd-green-200-white: linear-gradient(45deg, var(--green200), var(--white));

  --grd-blue-500-600: linear-gradient(var(--blue500), var(--blue600));

  --grd-purple-500-white: linear-gradient(var(--purple500), var(--white));

  /* Gradients */
  --grd-blue: linear-gradient(#0f62fe, #4589ff);
  --grd-green: linear-gradient(#00d473, #1fdb86);
  --grd-green-to-blue: linear-gradient(45deg, #69e5dc, #0f62fe);
  --grd-blue-to-green: linear-gradient(45deg, #0f62fe, #69e5dc);

  /* Transitions */
  --trns1: 0.25s;
  --trns2: 0.5s;
  --trns3: 0.75s;
  --trns4: 01s;

  /* Box Shadows */

  --card-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.075);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Stolzl
    /* , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif */ !important;
}
html,
body {
  width: 100%;
  max-width: 100%;
  position: relative;
  background-color: var(--white) !important;
}
.app {
  width: 100%;
}
.box-xs {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.box-sm {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 3.5rem;
}
.box-lg {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 3.5rem;
}
input {
  border: 0;
  outline: 0;
  font-size: 1.5rem;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
li {
  list-style-type: none;
}
img {
  object-fit: contain;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray800);
}
svg {
  object-fit: contain;
}
.ds-overflow::-webkit-scrollbar {
  width: 0.75rem;
}
.ds-overflow::-webkit-scrollbar-track {
  border-radius: 1000px;
  background-color: transparent;
}
.ds-overflow::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  background-color: var(--gray800);
}
.ds-indicator {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--green300);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(150%, -50%);
}
.ds-chip {
  width: max-content;
  font-size: 1.5rem;
  background-color: var(--blue100);
  padding: 0.65rem 1.75rem;
  border-radius: 1000px;
}
.width-100 {
  width: 100%;
}
.buttons-grid {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: auto;
  grid-gap: 1rem;
}
.buttons-grid > div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.buttons-grid > i {
  width: 100%;
  height: 2.5rem;
  display: block;
}
.design-system {
  padding: 5rem;
  background-color: #f6f7f8;
  min-height: 100vh;
}
.design-system h1 {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 0;
  font-weight: 500;
}

.button-link-green svg path,
.button-secondary-green svg path,
.button-tertiary-green svg path {
  fill: #1bc074 !important;
}
.button-link-red svg path,
.button-secondary-red svg path,
.button-tertiary-red svg path {
  fill: #be0303 !important;
}
.button-link-gray svg path,
.button-secondary-gray svg path,
.button-tertiary-gray svg path {
  fill: #313130 !important;
}
.button-link-green:disabled svg path,
.button-secondary-green:disabled svg path,
.button-tertiary-green:disabled svg path {
  fill: #8fedc1 !important;
}
.button-link-red:disabled svg path,
.button-secondary-red:disabled svg path,
.button-tertiary-red:disabled svg path {
  fill: #fdacac !important;
}
.button-link-gray:disabled svg path,
.button-secondary-gray:disabled svg path,
.button-tertiary-gray:disabled svg path {
  fill: #bdbdbd !important;
}
/* Input Fields */
.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputBox label {
  margin: 0 0 0.25rem 0;
}
.inputBox label span {
  color: #d20404;
}
label {
  font-size: 1.5rem;
  font-weight: 500;
}
.inputBox input,
.inputBox select,
.inputBox textarea {
  width: 100%;
}
.inputBox input,
textarea {
  width: 100% !important;
  border: 1px solid var(--gray300);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1.5rem !important;
  color: var(--gray800);
  outline: 0;
  background-color: var(--white);
}
.ds-input {
  width: 100% !important;
  border: 0;
  border-bottom: 1px solid var(--gray300);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1.5rem;
  color: var(--gray800);
  outline: 0;
  background-color: var(--blue100);
  transition: var(--trns1);
  position: relative;
  height: 4rem;
}
.ds-input:hover {
  color: var(--gray700);
}
.ds-input:focus {
  box-shadow: 0 0 0 0.25rem #8fedc1;
}
.ds-input-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem 1.5rem;
  background-color: var(--blue100);
  border: 0;
  border-bottom: 1px solid var(--gray300);
  height: 4rem;
  border-radius: 0.75rem 0.75rem 0 0;
  transition: var(--trns1);
}
.ds-input-icon svg {
  width: 2rem;
}
.ds-input-icon input {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--gray800);
  font-weight: 400;
}
.ds-input-icon input::placeholder {
  color: var(--gray300);
}
.ds-input-icon:focus-within {
  box-shadow: 0 0 0 0.25rem #8fedc1;
  border-bottom: 1px solid transparent;
}
/* Buttons */
.button {
  width: max-content;
  height: max-content;
  border-radius: 1000px;
  border: 0;
  cursor: pointer;
  transition: var(--trns1);
}
.button:disabled {
  cursor: not-allowed;
}
.button:focus {
  text-decoration: underline;
}
/* Button Sizes */
.button-sm {
  font-size: 1.2rem;
  padding: 0.4rem 1.6rem;
  font-weight: 400;
}
.button-md {
  font-size: 1.4rem;
  padding: 0.6rem 1.6rem;
  font-weight: 500;
}
.button-lg {
  font-size: 1.6rem;
  padding: 0.75rem 3rem;
  font-weight: 600;
}
.button-xl {
  font-size: 1.6rem;
  padding: 1.2rem 3rem;
  font-weight: 600;
}
/* Full With Button */
.button.width-100 {
  width: 100%;
}
/* Primary Buttons  */
.button-primary-gray {
  background-color: #313130;
  color: var(--white);
}
.button-primary-gray:hover {
  background-color: var(--gray700);
}
.button-primary-gray:focus {
  background-color: var(--gray700);
  box-shadow: 0 0 0 0.35rem var(--gray400);
}
.button-primary-gray:disabled {
  background-color: var(--gray400);
}
.button-primary-red {
  background-color: #d20404;
  color: var(--white);
}
.button-primary-red:hover {
  background-color: #fc5a5a;
}
.button-primary-red:focus {
  background-color: #fc5a5a;
  box-shadow: 0 0 0 0.35rem #fdacac;
}
.button-primary-red:disabled {
  background-color: #fdacac;
}
.button-primary-green {
  background-color: #1bc074;
  color: var(--white);
}
.button-primary-green:hover {
  background-color: #1fdb84;
}
.button-primary-green:focus {
  background-color: #1fdb84;
  box-shadow: 0 0 0 0.35rem #8fedc1;
}
.button-primary-green:disabled {
  background-color: #8fedc1;
}

/* Secondary Buttons  */
.button-secondary-gray,
.btn-icon-gray {
  background-color: transparent;
  color: var(--gray800);
  border: 1px solid var(--gray300);
}
.button-secondary-gray:hover,
.btn-icon-gray:hover {
  background-color: var(--gray200) !important;
}
.button-secondary-gray:focus,
.btn-icon-gray:focus {
  box-shadow: 0 0 0 0.35rem var(--gray300) !important;
  background-color: var(--gray100) !important;
}
.button-secondary-gray:disabled,
.btn-icon-gray:disabled {
  color: var(--gray300);
}
.button-secondary-red,
.btn-icon-red {
  background-color: transparent;
  color: var(--red500);
  border: 1px solid var(--red500);
}
.button-secondary-red:hover,
.btn-icon-red:hover {
  background-color: #fff5f5;
}
.button-secondary-red:focus,
.btn-icon-red:focus {
  background-color: #fff5f5;
  box-shadow: 0 0 0 0.35rem #fdacac;
}
.button-secondary-red:disabled,
.btn-icon-red:disabled {
  color: #fdacac;
}
.button-secondary-green,
.btn-icon-green {
  background-color: transparent;
  color: #1bc074;
  border: 1px solid #1bc074;
}
.button-secondary-green:hover,
.btn-icon-green:hover {
  background-color: #ebfff5;
}
.button-secondary-green:focus,
.btn-icon-green:focus {
  background-color: #ebfff5;
  box-shadow: 0 0 0 0.35rem #8fedc1;
}
.button-secondary-green:disabled,
.btn-icon-green:disabled {
  color: #8fedc1;
}

/* Tertiary Buttons  */
.button-tertiary-gray {
  background-color: var(--white);
  color: var(--gray800);
  border: 0px solid var(--gray300);
}
.button-tertiary-gray:hover {
  background-color: var(--gray100);
}
.button-tertiary-gray:focus {
  box-shadow: 0 0 0 0.35rem var(--gray300);
  background-color: var(--gray100);
}
.button-tertiary-gray:disabled {
  color: var(--gray300);
}
.button-tertiary-red {
  background-color: var(--white);
  color: #d20404;
  border: 0px solid #d20404;
}
.button-tertiary-red:hover {
  background-color: #fff5f5;
}
.button-tertiary-red:focus {
  background-color: #fff5f5;
  box-shadow: 0 0 0 0.35rem #fdacac;
}
.button-tertiary-red:disabled {
  color: #fdacac;
}
.button-tertiary-green {
  background-color: var(--white);
  color: #1bc074;
  border: 0px solid #1bc074;
}
.button-tertiary-green:hover {
  background-color: #ebfff5;
}
.button-tertiary-green:focus {
  background-color: #ebfff5;
  box-shadow: 0 0 0 0.35rem #8fedc1;
}
.button-tertiary-green:disabled {
  color: #8fedc1;
}

/* Buttons - Leading Icon */
.leading-icon.button-sm svg {
  width: 1.75rem;
  height: 1.75rem;
  margin: 0 0.75rem 0 0;
}
.leading-icon.button-md svg {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0 0.75rem 0 0;
}
.leading-icon.button-lg svg {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0 1rem 0 0;
}
.leading-icon.button-xl svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1.25rem 0 0;
}

/* Buttons - Trailing Icon */
.trailing-icon.button-sm svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 0.75rem;
}
.trailing-icon.button-md svg {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0 0 0 0.75rem;
}
.trailing-icon.button-lg svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0 0 1rem;
}
.trailing-icon.button-xl svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0 0 1.25rem;
}

/* Buttons - Links */
.button-link-gray {
  background-color: transparent;
  color: var(--gray800);
  border: 0;
}
.button-link-gray:hover {
  color: var(--gray900);
}
.button-link-gray:focus {
  color: var(--gray900);
}
.button-link-gray:disabled {
  color: var(--gray300);
}
.button-link-red {
  background-color: transparent;
  color: #d20404;
  border: 0;
}
.button-link-red:hover {
  color: #be0303;
}
.button-link-red:focus {
  color: #be0303;
}
.button-link-red:disabled {
  color: #fdacac;
}
.button-link-green {
  background-color: transparent;
  color: #1bc074;
  border: 0;
}
.button-link-green:hover {
  color: #169c5f;
}
.button-link-green:focus {
  color: #169c5f;
}
.button-link-green:disabled {
  color: #8fedc1;
}
.button-link-gray.button-sm,
.button-link-gray.button-md,
.button-link-gray.button-lg,
.button-link-red.button-sm,
.button-link-red.button-md,
.button-link-red.button-lg,
.button-link-green.button-sm,
.button-link-green.button-md,
.button-link-green.button-lg {
  padding: 0;
}
.btn-icon-sm {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}
.btn-icon-sm svg {
  width: 1.75rem;
  height: 1.75rem;
}
.btn-icon-md {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}
.btn-icon-md svg {
  width: 2rem;
  height: 2rem;
}
.btn-icon-lg {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}
.btn-icon-lg svg {
  width: 2.25rem;
  height: 2.25rem;
}
.btn-icon-gray svg {
  fill: var(--gray800) !important;
}
.btn-icon-red svg {
  fill: var(--red600) !important;
}
.btn-icon-green svg {
  fill: var(--green700) !important;
}
.btn-icon-gray:hover {
  background-color: var(--white);
}
/* Input Form Fields */
.checkbox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox input {
  zoom: 1.35;
  margin: 0.15rem 0 0 0;
}
.checkbox > label {
  font-size: 1.4rem;
  color: var(--gray800);
  font-weight: 400;
  margin: 0 0 0 1rem;
}
.checkbox > label span {
  font-size: 1.4rem;
  margin: 0 0 0 1rem;
  font-weight: 400;
  color: var(--gray300);
}
/* Bootstrap Styling Overrides [Do not change these] */
.accordion-button:not(.collapsed) {
  color: unset !important;
  background-color: unset !important;
  box-shadow: unset !important;
  border-radius: 0 !important;
}
.accordion-button::after {
  display: none !important;
}
.accordion-item {
  border: 0 !important;
  border-radius: 0 !important;
}
.accordion-body,
.accordion-button {
  padding: 0 !important;
  outline: 0 !important;
}
.accordion-button:focus {
  border: 0 !important;
  box-shadow: unset !important;
}
.accordion-button svg {
  transition: var(--trns2);
}
.accordion-button.collapsed svg {
  transform: rotate(90deg);
}
.nav-link {
  padding: 0 !important;
  color: unset !important;
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.navbar {
  padding: 0 !important;
}
.productDetailsMenuAnchor .active {
  color: var(--gray800) !important;
  font-weight: 600 !important;
  background-color: unset !important;
}
.shop-page-tabs-slider .nav-tabs {
  border-bottom: 0px solid var(--gray200) !important;
}
.ds-tabs .nav-tabs {
  border-bottom: 1px solid var(--gray200) !important;
  margin: 0 0 2.5rem 0;
}
.ds-tabs .nav-tabs .nav-link {
  color: var(--gray300) !important;
  font-size: 1.5rem;
  padding: 0.85rem 1.5rem !important;
  position: relative;
  font-weight: 400;
  margin: 0 1.5rem 0 0 !important;
  transition: 0.15s;
  width: max-content;
}
.ds-tabs .nav-tabs .nav-item {
  width: max-content !important;
}
.ds-tabs .nav-tabs .nav-link:hover {
  color: var(--gray700) !important;
}
.ds-tabs .nav-tabs .nav-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--green500);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 15rem 15rem 0 0;
  opacity: 0;
  transition: 0.15s;
}
.ds-tabs .nav-tabs .nav-item.show .nav-link::after,
.ds-tabs .nav-tabs .nav-link.active::after {
  opacity: 1;
}
.ds-tabs .nav-tabs .nav-item.show .nav-link,
.ds-tabs .nav-tabs .nav-link.active {
  color: var(--gray700) !important;
  border: 0 !important;
  font-weight: 500 !important;
  background-color: unset !important;
}
.productDetailsMenuAnchor .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0 !important;
}
.productDetailsMenuAnchor .nav-item {
  margin: 0 0 1.5rem 0;
}
.accordion-header {
  width: 100%;
}
.accordion-item,
.accordion-button {
  background-color: unset !important;
}
/* Swiper */
.ucc-swiper-container .swiper-slide {
  display: block !important;
  position: relative;
  width: 100% !important;
}
.ucc-swiper-container .swiper-wrapper {
  width: 100%;
  position: relative;
}
.swiper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.ds-tabs-nav {
  display: none;
}
.ucc-swiper-container .swiper-slide:last-child {
  display: none !important; /* DO NOT REMOVE THIS */
}
.product-box-top-swiper-box .swiper {
  height: 100%;
}
.product-box-bottom-swiper-box .swiper-slide {
  width: 7.5rem !important;
  opacity: 0.35;
  cursor: pointer;
}
.product-box-bottom-swiper-box .swiper-slide-thumb-active {
  opacity: 1;
  background-color: var(--white);
}
.swiper {
  overflow-x: hidden !important;
  max-width: 100%;
}
.ALSprevBtn.swiper-button-disabled,
.ALSnextBtn.swiper-button-disabled {
  display: none !important;
}
/* Others */
.overview-card-bg img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  max-height: 100% !important;
}
.overview-card-bg h1,
.overview-card-bg p {
  color: var(--gray100) !important;
}
li.active a {
  color: var(--gray800) !important;
}
.iiz {
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.rc-slider-handle {
  border: 2px solid var(--green300) !important;
  opacity: 1 !important;
}
.rc-slider-track {
  background-color: var(--green300) !important;
}
.rc-slider-handle-dragging {
  box-shadow: 0 0 0 5px var(--green200) !important;
}
.ds-product-categories-slider {
  display: none;
  margin: 2.5rem 0;
}
.ds-product-categories-slider .swiper-slide {
  display: block !important;
  width: min-content !important;
}
.shop-page-tabs-slider .swiper {
  width: 100%;
  overflow: hidden;
}
.shop-page-tabs-slider .swiper .swiper-slide {
  display: block !important;
  width: min-content !important;
}
.compareCardSlider.swiper .swiper-slide {
  display: block !important;
  width: 175px !important;
}
.shop-page-tabs-slider .swiper .swiper-slide .active .ds-chip {
  background-color: var(--green300) !important;
}
.hero-right-swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hero-right-swiper .swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.configuratorActiveStep {
  background-color: var(--green700) !important;
}
@media screen and (max-width: 850px) {
  .ds-product-categories-slider {
    display: block;
  }
  .hero-right-swiper .swiper-pagination {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .box-sm {
    padding: 0 2rem;
  }
  .ds-tabs-nav .swiper-slide {
    display: block !important;
    width: min-content !important;
  }
  .ds-tabs .nav-tabs .nav-item {
    width: auto !important;
  }
  .ds-tabs-nav {
    display: block;
  }
  .ds-tabs .nav > .nav-item {
    display: none;
  }
}
.switchbox-con .form-switch {
  margin: 0 2.5rem;
  transform: scale(1.5);
}
.switchbox-con .form-switch .form-check-input:checked {
  background-color: var(--green500);
  border-color: var(--green500);
}
.switchbox-con .form-switch .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #8fedc1;
  border-color: var(--green500);
}
.do-it-yourself {
  opacity: 1;
}
.our-support {
  opacity: 0.25;
}
.switchbox-con .form-switch .form-check-input:checked + .our-support {
  opacity: 1;
}
.hero-right-swiper .swiper-pagination {
  position: absolute !important;
  bottom: 1.5rem !important;
  left: 50% !important;
  right: unset !important;
  top: unset !important;
  transform: translate(-50%, 0) !important;
}
.hero-right-swiper .swiper-pagination .swiper-pagination-bullet {
  opacity: 0.25 !important;
  background-color: var(--green500) !important;
  width: 1rem !important;
  height: 1rem !important;
}
.hero-right-swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
.leading-icon.button-md.vorsvg svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin: 0 1.5rem 0 0 !important;
}
.leading-icon.button-md.vorsvg
{
  padding: 0.5rem 3.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
@media screen and (max-width: 650px) {
.leading-icon.button-md.vorsvg
{
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  min-width: 4rem;
  max-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
}
.leading-icon.button-md.vorsvg span 
{
  display: none;
}
.leading-icon.button-md.vorsvg svg
{
  margin: 0 !important;
}
}