.priceFilterPC {
  width: 100%;
}
.filterHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterHeader h6 {
  font-size: 1.75rem;
  color: var(--gray800);
  font-weight: 500;
  margin: 0;
}
.filterHeader svg {
  width: 2rem;
}
.priceFilterAccBody {
  width: 100%;
  margin: 1.5rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}
.priceRangeBox {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}
.priceRangeBox span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rcSlider {
  padding: 0 1rem;
  width: 100%;
}
.priceRangeBox span i {
  font-size: 1.5rem;
  color: var(--gray800);
  font-style: normal;
  margin: 0 1rem 0 0;
}
.priceRangeBox input {
  text-align: center;
}
.priceRangeBox p {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
